/* Font */
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');

/* Design */
*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    background-color: #eaeaea;
}

body {
    color: #272727;
    font-family: 'Quicksand', serif;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0;
    padding: 1rem;
}

.main {
    max-width: 1200px;
    margin: 0 auto;
}

h1 {
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}

h2 {
    font-size: 22px;
    font-weight: 400;
    text-align: center;
}

img {
    height: auto;
    max-width: 97%;
    vertical-align: middle;
    margin: 0 auto;
    display: block;
}

.btn {
    color: #ffffff;
    padding: 0.8rem;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    border-radius: 4px;
    font-weight: 700;
    display: block;
    width: 100%;
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: #149596;
    text-decoration: none;
}

.btn:hover {
    background-color: rgba(255, 255, 255, 0.12);
}

.cards {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}

.cards_item {
    display: flex;
    padding: 1rem;
    /*flex-grow: 1;*/
}

.reserved {
    position: relative;
}

.reserved:after {
        content: " ";
        z-index: 10;
        display: block;
        position: absolute;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.5);
    }

@media (min-width: 525px) {
    .cards_item {
        width: 33.3333%;
    }
}

@media (min-width: 1000px) {
    .cards_item {
        width: 25%;
    }
}

.card {
    background-color: white;
    border-radius: 0.25rem;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
}

.card_content {
    padding: 1rem;
    background: #444;
    flex-grow: 2;
}

.card_title {
    color: #ffffff;
    font-size: 1.1rem;
    font-weight: 700;
    letter-spacing: 1px;
    margin: 0px;
}

.card_price {
    color: #ffffff;
    font-size: 1.1rem;
    font-weight: 700;
    letter-spacing: 1px;
    margin: 0 0 20px 0;
    text-align: right;
}

.card_text {
    color: #ffffff;
    font-size: 0.875rem;
    line-height: 1.5;
    margin-bottom: 1.25rem;
    font-weight: 400;
}

@media print {
    #web {
        display: none;
    }

    body {
        background-color: #fff;
    }

    .cards_item {
        width: 100%;
        padding: 3px;
    }

    .card {
        display: flex;
        box-shadow: none;
        border: 1px solid #ccc;
        padding: 20px;
    }
    
    .cards_item:nth-child(even) .card {
        flex-direction: row-reverse;
    }

    .cards_item:nth-child(odd) .card {
        flex-direction: row;
    }
    
    .card_content {
        background: #fff;
    }

    .card_title, .card_price, .card_text {
        color: #000;
        text-align: right;
    }
    
    .card_price {
        margin-bottom: 0;
    }

    .cards_item:nth-child(odd) .card_title, .cards_item:nth-child(odd) .card_price, .cards_item:nth-child(odd) .card_text  {
        text-align: left;
    }

    .cards_item:nth-child(5n){
    }

    .card_image img, .card_qr img {
        max-height: 135px;
    }
    
     
}

@media screen {
    #print {
        display: none;
    }
}