﻿<div ng-controller="uSync8Controller as vm">


    <div ng-if="vm.versionInfo.IsCurrent != true" class="alert alert-info usync-alert">
        <localize key="usync_newer"></localize> [v{{vm.versionInfo.VersionInfo.Core}}]
        <span ng-if="vm.versionInfo.VersionInfo.Message">
            <a href="{{vm.versionInfo.VersionInfo.Link}}" target="_blank">
                {{vm.versionInfo.VersionInfo.Message}}
            </a>
        </span>
    </div>

    <umb-box ng-if="!vm.loading">
        <div ng-if="vm.versionInfo.HandlersLoaded != undefined && vm.versionInfo.HandlersLoaded != true" class="alert alert-danger usync-alert">
            <localize key="usync_noHandlers"></localize>
        </div>

        <umb-box-content>
            <div class="flex justify-between items-center">
                <div class="usync-main-buttons">

                    <umb-button-group default-button="vm.reportButton.defaultButton"
                                      sub-buttons="vm.reportButton.subButtons"
                                      direction="down"
                                      float="left"
                                      button-style="action"
                                      state="vm.reportButton.state">

                    </umb-button-group>

                    <umb-button-group default-button="vm.importButton.defaultButton"
                                      sub-buttons="vm.importButton.subButtons"
                                      direction="down"
                                      float="left"
                                      button-style="success"
                                      state="vm.importButton.state">
                    </umb-button-group>


                    <umb-button-group default-button="vm.exportButton.defaultButton"
                                      sub-buttons="vm.exportButton.subButtons"
                                      direction="down"
                                      float="left"
                                      button-style="info"
                                      state="vm.exportButton.state">
                    </umb-button-group>

                </div>

                <div>
                    <div ng-if="vm.savings.show">
                        {{vm.savings.title}}  {{vm.savings.message}}
                    </div>
                </div>
            </div>

        </umb-box-content>
    </umb-box>


    <umb-box>
        <umb-box-content ng-if="vm.working || vm.reported">
            <usync-progress-view update="vm.update"
                                 status="vm.status"
                                 hide-labels="false">
            </usync-progress-view>
        </umb-box-content>
    </umb-box>

    <div ng-if="vm.warnings.Message.length > 0" class="alert alert-{{vm.warnings.Type}}">
        <span ng-bind-html="vm.warnings.Message"></span>
        
    </div>



    <div ng-if="vm.reported">
        <usync-report-view actions="vm.actions"
                           results="vm.results"
                           hide-action="true"
                           hide-link="vm.hideLink">
        </usync-report-view>
    </div>

</div>