﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.Homepage>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
	Layout = null;
}


<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
    <meta property="og:image" content="images/logo.jpg">
    <title>Velkommen til hildesheim.dk</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon-16x16.png">
    
    <style>
        .centered {
            position: fixed;
            top: 50%;
            left: 50%;
            /* bring your own prefixes */
            -ms-transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }

        img {
            max-width: 75%;
            }

        body {
            background-color: #0B345A;
        }
    </style>
</head>

<body>


<img src="/images/logo.png" class="centered" alt="hildesheim.dk">

</body>

</html>