﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.WishList>
@using System.Drawing
@using System.Drawing.Imaging
@using QRCoder
@using ContentModels = Umbraco.Web.PublishedModels;
@{ Layout = null; }

<!doctype html>
<html lang="da">
<head>
    <meta charset="UTF-8">
    <title>@Model.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="robots" content="noindex, nofollow" />

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald:500,600" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/assets/style.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon-wish/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon-wish/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon-wish/favicon-16x16.png">
</head>
<body>
    <div id="web">
        <h1>@Model.Heading</h1>
        <h2>Sidst opdateret d. @Model.UpdateDate.ToString("dd-MM-yyyy")</h2>

        <div class="main">
            <ul class="cards">
                @foreach (var wish in Model.Wishes.Where(x => x.Disabled == false).OrderBy(x => x.Reserved))
                {
                    var itemTitle = wish.Title + (wish.Reserved ? " (Reserveret)" : string.Empty);
                    var itemClass = wish.Reserved ? "reserved" : "";

    <li class="cards_item">
        <div class="card @itemClass">
            <div class="card_image">
                <a href="@wish.ProductLink" target="_blank">
                    <img src="@Url.GetCropUrl(wish.Image, "umbracoFile", "Wish")" title="@wish.Title" alt="@wish.Title">
                </a>
            </div>
            <div class="card_content">
                <h2 class="card_title">@wish.WishItemType</h2>
                <p class="card_text">@itemTitle</p>
                <p class="card_price">@wish.Price kr.</p>
                <a class="btn card_btn" href="@wish.ProductLink" target="_blank">Find det her</a>
            </div>
        </div>
    </li>            }
            </ul>
        </div>
    </div>

    <div id="print">
        <h1>@Model.Heading</h1>
        <h2>Sidst opdateret d. @Model.UpdateDate.ToString("dd-MM-yyyy")</h2>

        <div class="main">
            <ul class="cards">
                @foreach (var wish in Model.Wishes.Where(x => x.Disabled == false).OrderBy(x => x.Reserved))
                {
                    QRCodeGenerator qrGenerator = new QRCodeGenerator();
                    QRCodeData qrCodeData = qrGenerator.CreateQrCode(@wish.ProductLink, QRCodeGenerator.ECCLevel.Q);
                    QRCode qrCode = new QRCode(qrCodeData);
                    Bitmap qrCodeImage = qrCode.GetGraphic(20);
                    MemoryStream ms = new MemoryStream();
                    qrCodeImage.Save(ms, ImageFormat.Gif);
                    var base64Data = Convert.ToBase64String(ms.ToArray());

                    var itemTitle = wish.Title + (wish.Reserved ? " (Reserveret)" : string.Empty);


    <li class="cards_item">
        <div class="card">
            <div class="card_image">
                <a href="@wish.ProductLink" target="_blank">
                    <img src="@Url.GetCropUrl(wish.Image, "umbracoFile", "Wish")" title="@wish.Title" alt="@wish.Title">
                </a>
            </div>
            <div class="card_content">
                <h2 class="card_title">@wish.WishItemType</h2>
                <p class="card_text">@itemTitle</p>
                <p class="card_price">@wish.Price kr.</p>
            </div>
            <div class="card_qr">
                <img src="data:image/png;base64,@base64Data" alt="@wish.Title">
            </div>
        </div>
    </li>
}
            </ul>
        </div>
    </div>

</body>

</html>